<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="to_do_list" frontName="to_do_list">
            <module name="Imartynyuk_ToDoList" />
        </route>
    </router>
</config>